<h2>Mission Details</h2>

<div *ngIf="missionDetails">
  <h3>🚀 Flight #{{ missionDetails.flight_number }} - {{ missionDetails.mission_name }}</h3>
  <p><strong>Launch Year:</strong> {{ missionDetails.launch_year }}</p>
  <p><strong>Details:</strong> {{ missionDetails.details ? missionDetails.details : 'No details available' }}</p>

  <h4>Rocket Information:</h4>
  <ul>
    <li><strong>Name:</strong> {{ missionDetails.rocket.rocket_name }}</li>
    <li><strong>Type:</strong> {{ missionDetails.rocket.rocket_type }}</li>
  </ul>

  <h4>Links & Media:</h4>
  <img *ngIf="missionDetails.links.mission_patch_small" [src]="missionDetails.links.mission_patch_small" alt="Mission Patch" width="100">
  <ul>
    <li *ngIf="missionDetails.links.article_link">
      <a [href]="missionDetails.links.article_link" target="_blank">📖 Read Article</a>
    </li>
    <li *ngIf="missionDetails.links.wikipedia">
      <a [href]="missionDetails.links.wikipedia" target="_blank">🌍 Wikipedia</a>
    </li>
    <li *ngIf="missionDetails.links.video_link">
      <a [href]="missionDetails.links.video_link" target="_blank">🎥 Watch Launch</a>
    </li>
  </ul>

  <button (click)="goBack()">Go Back</button>
</div>

<div *ngIf="!missionDetails">
  <p>Loading mission details...</p>
</div>